
:root {
    --basic-white: #FFFFFF;
    --basic-font-black: #000000;
    --basic-extra-light-gray: #EEEEEE;
    --basic-gray-social: #E1E1E1;
    --basic-light-gray: #DFDFDF;
    --basic-gray: #D5D5D5; 
    --basic-font-light-gray: #A6A6A6;
    --basic-font-gray:#283136;
    --basic-dark-gray: #4D4D4D;
    --basic-coral: #FB565A;
    --basic-coral-dark:#E74246;
    --basic-coral-extra-dark:#D7373B;
    --button-green: #00CA74;
    --button-green-dark:#00BC6C;
    --button-green-extra-dark:#00AA62;
    --button-mustard: #EFC849;
    --button-mustard-dark:#EAB534;
    --button-mustard-extra-dark:#E5A722;
}

body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-font-gray);
    background-color: var(--basic-white);
    background-position: top center;
}

a {
    text-decoration: none;
  }

img {
    max-width: 100%;
    height: auto;
}

/*.header-logo:focus {
    
}*/

.main-navigation a,
.cart-navigation a {
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-font-black);
    background-color: var(--basic-extra-light-gray);
    display: inline-block;
    padding-bottom: 13px;
}

.cart-navigation img{
    padding-right: 25px;
}
.main-navigation-wrapper {
    background-color: var(--basic-extra-light-gray); 
}

.site-navigation,
.cart-navigation {
    list-style: none;
}

.site-navigation a:hover,
.cart-navigation a:hover  {
    color: var(--basic-coral);
}

.site-navigation a:focus,
.cart-navigation a:focus {
    color: var(--basic-font-light-gray);
}

.site-navigation .active {
    color: var(--basic-font-black);
    border-bottom: 2px solid var(--basic-coral);
}

.slider-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-font-black);
    margin-bottom: 25px;
}

.features-list {
    list-style: none;
}

.feature-item {
    text-align: left;
}

.feature-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-font-black);
    margin-bottom: 16px;
  }

.btn {
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  max-width: 260px;
  padding-top: 17px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  font-weight: 500;
  border: none;
  border-radius: 3px;
  background-color: var(--basic-coral);
}

 .btn:focus {
    color: rgba(255,255,255,0.3);
  }

  .slider-btn {
    width: 240px;
    padding-top: 17px;
    padding-bottom: 15px; 
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

  .feature-btn {
    width: 160px;
    padding-top: 17px;
    padding-bottom: 15px;
}

.feature-btn-coral:hover {
    background-color: var(--basic-coral-dark);
}

.feature-btn-coral:focus {
    background-color: var(--basic-coral-extra-dark);
}

.feature-btn-green {
    background-color: var(--button-green);
}

.feature-btn-green:hover {
    background-color: var(--button-green-dark);
}

.feature-btn-green:focus {
    background-color: var(--button-green-extra-dark);
}

.feature-btn-mustard {
    background-color: var(--button-mustard);
}

.feature-btn-mustard:hover {
    background-color: var(--button-mustard-dark);
}
.feature-btn-mustard:focus {
    background-color: var(--button-mustard-extra-dark);
}

.about-design-studio-title1 {
font-weight: 500;
font-size: 45px;
line-height: 45px;
color: var(--basic-font-black);
margin-bottom: 32px;
}

.about-design-studio-text {
    margin-bottom: 40px;
}

.about-design-studio-title2 {
    text-transform: uppercase;
    font-weight: bold;
}


.footer-social a {
    display: inline-block;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--basic-gray-social);
}
